header {
    margin-bottom: 2em;

    h1 {
        margin-bottom: 1em;
    }
}

article > header {
    text-align: center;
    margin-bottom: 3em;
}

section {
    margin-bottom: 3em;
}

.header-copy {

    width: 30em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    img {
        width: 10em;
        max-width: 100%;
        height: auto;
    }
}

/* Sortable summary items */
.summary p {
    padding: 1em 1em 1em 2em;
    cursor: move;
}