.manifest {
    & > header {
        text-align: center;
        margin-bottom: 3em;
    }

    & > section {
        margin-bottom: 3em;
    }

    .room {
        margin-bottom: 1em
    }

    .room--description {
        margin-bottom: 1em;
    }

    .item {
        margin-bottom: 2em;
    }

    .item--description {
        font-weight: bold;
    }

}