<article class="home container">
  <header>
    <h1>What Have You Got?</h1>
    <div class="group header-copy">
      <img src="images/moving-house.jpg" alt="It's hard to move a house. We'll help you move your home.">
    </div>
  </header>

  <section>
    <h3>Add a room</h3>
    <form role="form" ng-submit="vm.processRoom()">
      <div class="row">
        <div class="input-group">
          <input type="text" ng-model="vm.newRoom" placeholder="Room description" class="form-control">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Add">
          </span>
        </div>
      </div>
    </form>
  </section>

  <section class="summary">
    <header>
      <h3>Home Contents Summary</h3>
    </header>
    <button class="btn btn-danger btn--kill-all-rooms" ng-click="vm.clearAllRooms()">Clear all rooms</button>
    <div ng-model="vm.rooms">
      <ul class="room-list" ng-repeat="room in vm.rooms track by $index">
        <li class= "room">
          <input class="room--description" type="text" ng-model="room.roomDescription" class="form-control">
          <span class="room--kill-button">
            <button class="btn btn-danger" ng-click="vm.removeRoom($index)" aria-label="Remove room">X</button>
          </span>
          <ul class="item-list" ng-repeat="item in room.roomContents track by $index">
            <li class="item">
              <input class="item--description" ng-model="item.itemDescription">
              <ul class="item--details-list">
                <li><label>Count: <input ng-model="item.itemCount"></label></li>
                <li><label>Weight: <input ng-model="item.itemWeight.value"> kg</label></li>
                <!-- TODO: write custom directive to parse for boolean values -->
                <li><label>Fragile? True or false <input ng-model="item.isFragile"><label></li>
              </ul>
            </li>
          </ul>
        </li>
        <hr>
      </ul>
    </div>
  </section>

  <section>
    <header>
      <h4>Controls</h4>
    </header>
    <ul>
      <li><p>Add item</p></li>
      <li><p>Delete item</p></li>
    </ul>
  </section>
</article>

<!--     <p><a class="btn btn-lg btn-success" ng-href="#">A button with a glyph!<span class="glyphicon glyphicon-ok"></span></a></p> -->