<article class="home container">
  <header>
    <h1>What Have You Got?</h1>
    <div class="group header-copy">
      <img src="images/moving-house.jpg" alt="It's hard to move a house. We'll help you move your home.">
    </div>
  </header>

  <section>
    <header>
      <h3>Home Contents Input</h3>
    </header>
    <form role="form" ng-submit="vm.processRoom()">
      <div class="row">
        <div class="input-group">
          <input type="text" ng-model="vm.newRoom" placeholder="Add a room" class="form-control">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Add">
          </span>
        </div>
      </div>
    </form>
  </section>

  <section class="summary">
    <header>
      <h3>Home Contents Summary</h3>
    </header>
    <div ui-sortable ng-model="vm.rooms">
      <p class="input-group" ng-repeat="room in vm.rooms track by $index">
        <input type="text" ng-model="room.roomDescription" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-danger" ng-click="vm.removeRoom($index)" aria-label="Remove room">X</button>
        </span>
      </p>
    </div>
  </section>

  <section>
    <header>
      <h4>Controls</h4>
    </header>
    <ul>
      <li><p>Add room</p></li>
      <li><p>Edit room</p></li>
      <li><p>Delete room</p></li>
    </ul>
    <ul>
      <li><p>Add item</p></li>
      <li><p>Edit item</p></li>
      <li><p>Delete item</p></li>
    </ul>
  </section>
</article>

<!--     <p><a class="btn btn-lg btn-success" ng-href="#">A button with a glyph!<span class="glyphicon glyphicon-ok"></span></a></p> -->