<article class="home">
  <header>
    <h1>What have you got?</h1>
    <img src="images/moving-house.jpg" alt="It's hard to move a house.">
  </header>

  <div class="row">
    <h4>Summary</h4>
    <ul>
      <li>
        <h5>Room1</h5>
        <ul>
          <li><p>Item</p></li>
          <li><p>Item</p></li>
        </ul>
      </li>
      <li>
        <h5>Room2</h5>
        <ul>
          <li><p>Item</p></li>
          <li><p>Item</p></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="row">
    <h4>Controls</h4>
    <ul>
      <li><h5>Add room</h5></li>
      <li><h5>Edit room</h5></li>
      <li><h5>Delete room</h5></li>
    </ul>
    <ul>
      <li><h5>Add item</h5></li>
      <li><h5>Edit item</h5></li>
      <li><h5>Delete item</h5></li>
    </ul>
  </div>
</article>

<!--     <p><a class="btn btn-lg btn-success" ng-href="#">A button with a glyph!<span class="glyphicon glyphicon-ok"></span></a></p> -->