<article class="manifest container">
  <header>
    <h1>Manifest</h1>
  </header>

  <div ng-model="vm.rooms">
    <ul class="room-list">
      <li class="room" ng-repeat="room in vm.rooms track by $index">
        <section>
          <header class="room--description" type="text">
            <h3>{{room.roomDescription}}</h3>
          </header>

          <table>
            <thead>
              <tr>
                <td>Description</td>
                <td>Count</td>
                <td>Weight</td>
                <td>Fragile</td>
              </tr>
              <tr ng-repeat="item in room.roomContents">
                <td class="item--description">{{item.itemDescription}}</td>
                <td>{{item.itemCount}}</td>
                <td>{{item.itemWeight.value}} kg</td>
                <td>{{item.isFragile}}</td>
              </tr>
            </thead>
          </table>
        </section>
        <hr>
      </li>
    </ul>
  </div>

</article>
