<article class="manifest container">
  <header>
    <h1>Manifest</h1>
  </header>

  <section ng-model="vm.rooms">
    <header>
      <h2>Heaviest items by room</h2>
    </header>
    <ul class="room-list">
      <li class="room" ng-repeat="room in vm.rooms">
        <section>
          <header class="room--description" type="text">
            <h3>{{room.roomDescription}}</h3>
          </header>

          <table class="table">
            <thead>
              <tr>
                <td>Description</td>
                <td>Count</td>
                <td>Total weight</td>
                <td>Fragile</td>
              </tr>
              <tr ng-repeat="item in room.roomContents | limitTo:2 ">
                <td class="item--description">{{item.itemDescription}}</td>
                <td>{{item.itemCount}}</td>
                <td>{{item.itemWeight.value * item.itemCount | number:1}} kg</td>
                <td>{{item.isFragile}}</td>
              </tr>
            </thead>
          </table>
        </section>
      </li>
    </ul>
  </section>

</article>
