<article class="manifest container">
  <header>
    <h1>Manifest</h1>
  </header>

  <div ng-model="vm.rooms">
    <ul class="room-list">
      <li class="room" ng-repeat="room in vm.rooms track by $index">
        <section>
          <header class="room--description" type="text">
            <h3>{{room.roomDescription}}</h3>
          </header>
          <ul class="item-list">
            <li class="item" ng-repeat="item in room.roomContents track by $index">
              <section class="group">
                <header class="item--header">
                  <h4 class="item--description">{{item.itemDescription}}</h4>
                </header>
                <ul class="item--details-list">
                  <li><p>Count: {{item.itemCount}}</p></li>
                  <li><p>Weight: {{item.itemWeight.value}} kg</p></li>
                  <li><p>Fragile: {{item.isFragile}}</p></li>
                </ul>
              </section>
            </li>
          </ul>
        </section>
        <hr>
      </li>
    </ul>
  </div>

</article>
